@media (min-width: 576px) {
    .middleDiv {  
        top: 90px; 
    }
    
    .getText {
        margin-top: 150px; 
    }
 
    .heroButtonDiv {
        display: flex;
        gap: 20px;
    }

    .hireMeBtn {
        display: block;
    }

    .heroButtonDiv {
        margin: 40px 0 170px 0;  
    }

    .designingQueryDiv {
        padding: 10% 10px;
    }

    .allH {
        font-size: 30px;
    }
    
    .serviceDiv { 
        padding: 25px 10px 20px 10px ; 
    }
      
    .serviceCardFor576 { 
        display: flex;  
        gap: 30px;
        flex-wrap: wrap;
    }

    .serviceCardFor576 .serviceCard {
        width: 45%;   
    }

    .serviceCardFor576 .cardTitle {
        font-size: 20px;
    }

    .serviceCardFor576 .cardhoverDiv {
        top: 500px; 
    }

    .serviceCardFor576 .cardBody {
        color: #5c6277;
    }

    .Service_Div {
        margin: 60px 15px; 
    }
        
    .imgRow {
        display: flex;
        gap: 10px;
    }

    .serviceImgagesDiv img {
        width: 100%; 
    }
    
    .rightImg {
        display: flex;
        flex-direction: column;
    }
    

    .downImgRow img {
        width: 32%;
    }
    
    .contactInnerDiv .allH {
        font-size: 48px !important;
    }
 
    .Service_Div .allH {
        padding: 0 20px;
    }
    
    .contactInnerDiv .allH {
        font-size: 30px !important;
    }


    .contactFormDiv {
        margin-top: 60px;  
        padding: 70px 0 60px 0 ;
    }

    .footerDiv h1 {
        font-size: 45px; 
    }
    
    .footerDiv p {
        padding: 0 110px;
    }
}