@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Rufina:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* #4C4C4C */
/* #222222 */

/* #EC5B53 */
/* #E44239 */
/* #FF3D1C */

/* #33344C */
/* #080827 */


body {
    font-family: "Rufina",serif;
}

p, li, a {
    font-family: "Rubik", sans-serif !important;
}

.navDiv { 
    padding: 5%; 
    position: relative;
}
.tabPage {
    display: none;
}

.leftDiv {
    margin-top: 10px;  
    z-index: 2 !important;
}

.menuBtn { 
    position: relative;
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: #4C4C4C;
}

.menuBtn button {
    position: absolute;
    right: 10px;
    top: 10px; 
    color: white;
    font-weight: 900;
    background-color: #222222;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
}

 


.rightDiv {
    display: none;
}

.middleDiv { 
    position: absolute;
    top: 75px;
    left: 5%;
    right: 5%;
    color: white;
}

.middleDivul {
    z-index: -3;
    position: absolute;
    display: flex; 
    flex-direction: column;
    gap: 15px;
    padding: 10px;   
    top: 55px; 
    bottom: 0px;
    left: 0;
    right: 0; 
    transition: 1s; 
    background-color: #4C4C4C;
    z-index: 0;  
    opacity: 0;
} 

.menuBtn:hover + .middleDivul {
    /* transform: translateY(50px); */
    display: flex; 
    bottom: -210px;
    opacity: 1;
}

.middleDivul li {
    text-align: left;
    list-style: none;
    font-weight: 400;
    padding-left: 10px;
}

.middleDivul li:hover {
    color: #E44239; 
    cursor: pointer; 
}

.rightDiv {
    position: relative;
}
.getFreeBtn {
    cursor: pointer;
    background-color: #ec5b53;
    color: white;
    font-weight: 600;
    padding: 20px 35px;
    border: none;
    border-radius: 5px; 
}
 

.btnShadow {
    position: absolute; 
    background-color: #E44239;
    width: 194px; 
    border-radius: 5px;
    top: 0;
    bottom: 0; 
    left: -196px; 
    right: 0;
    transition: 5s;
    opacity: 0.2;

}

.getFreeBtn:hover  + .btnShadow {    
    transform: translateX(200px);    
}


/* hero section */
.heroSection {
    width: 100%; 
    background-image: url('img/h1_hero.jpg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}



.leftHeroSection { 
    width: 100%;
    padding: 5% 0;
}

.getText {
    margin-top: 80px;
    color: #ec5b53;
    text-transform: uppercase;
    font-weight: 100;
}

.iamText {
    margin: 40px 0;
    padding-right: 10%;
    font-size: 30px;
    color: #002D5B;
}

.aboutText {
    color: #002D5B;
    font-weight: 300;
    line-height: 2;
}

.heroButtonDiv {
    margin: 40px 0 70px 0;  
}

.learnMoreBtn {
    cursor: pointer;
    background-color: #ec5b53;
    color: white;
    font-weight: 600;
    padding: 20px 50px;
    border: none;
    border-radius: 5px; 
    position: relative;
    z-index: 1;
}

.learnMoreBtnShadow {
    position: absolute; 
    border-radius: 5px;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background-color: #E44239;
    transition: 3s;
}

.learnMoreBtn:hover .learnMoreBtnShadow {
    right: 0;
    z-index: -2;
}


.hireMeBtn {
    cursor: pointer;
    background-color: transparent;
    color: #000A2D;
    font-weight: 600;
    padding: 20px 50px; 
    border: 1px solid #f0ceccc5;
    border-radius: 5px; 
    position: relative;
    z-index: 1;
    display: none;
}

.hireMeBtnShadow {
    position: absolute; 
    border-radius: 5px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    background-color: #E44239;
    transition: 3s;
}

.hireMeBtn:hover {
    color: white;
}

.hireMeBtn:hover .hireMeBtnShadow {
    bottom: 0;
    z-index: -2;
}








/* designing&QueryDiv */
.designingQueryDiv {
    padding: 20% 10px;
}
 
.allH {
    line-height: 1.5;
    margin-bottom: 30px;
}
 
.leftDesigningDiv .aboutText {
    font-weight: 400; 
} 

.rightQueryDiv {
    margin-top: 50px;
}

.rightQueryDiv .allH {
    padding-right: 20%;
}
 

.lateTalk {
    font-size: 18px;
    font-weight: 500;
    color: #000a2dc1;
    margin-top: 40px;
    margin-bottom: 20px;

}

.hireColorLibDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hireBtn {
    color: #000A2D;
    font-size: 25px;
    font-weight: 500;
    text-decoration: underline;
}



.fa-arrow-right {
    font-size: 20px;
    text-decoration: underline;
}

.arrow-underline {
    width: 19px;
    height: 2px;
    background-color: #000A2D;
    margin-top: 2px;
}

.text-blue {
    color: #0125a8;
}


/* service */
.serviceDiv { 
    padding: 65px 10px 0 10px; 
}

.cardsDiv .card {
    position: relative;
}

.cardhoverDiv {
    position: absolute;
    left: 0;
    right: 0;
    top: 470px; 
    bottom: 0;
    border-radius: 5px;
    transition: 1s;
    z-index: 0;
    background-color: #E44239;
}


.cardsDiv { 
    padding:0 10px;
    text-align: center; 
}

.card { 
    /* box-shadow: 1px 4px 8px rgba(185, 184, 185, 0.619); */
    padding: 20px;
    z-index: 1;
    border: 1px solid rgba(128, 128, 128, 0.18);
    border-radius: 5px;
    margin-bottom: 50px;
}

.cardimg {
    width: 100px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EC5B53;
    background-color: #FFF4F4;
    border-radius: 50%;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.cardTitle {
    font-size: 25px;
    font-weight: 600;
    color: #002D5B !important;
}

.serviceCard:hover .cardhoverDiv {
    top: 0;
    z-index: -3;
}

.serviceCard:hover .cardTitle {
    color: white !important;
}

.cardBody {
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 50px;
    line-height: 1.5;
    color: gray;
}


.serviceCard:hover .cardBody {
    color: white !important;
}
.container {
    width: 90%;
    margin: auto; 
}

/* serviceHeaderDiv */
.Service_Div {
    margin: 100px 15px; 
}

.serviceHeaderDiv {  
    margin-bottom: 50px;
}
  
.serviceUl { 
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;  
    margin-left: 10px;
    padding-bottom: 10px;  
}   

.li_item {
    position: relative; 
    font-weight: 500;
    list-style: none;
}

.li_underline {  
    height: 2px; 
    position: absolute;
    left: -18px;
    right: -18px;
    top: 29px;
    display: none;
    background-color: tomato;
}

.li_item_all {
    display: block;
}

.li_item:hover .li_underline {
    display: block;
}



.serviceImgagesDiv {
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
}

.serviceImgagesDiv img {
    width: 100%;
    padding: 10px 5px;
}

  
.rightImg {
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
}
 


/* contactDiv  */ 
.contactDiv {
    background-image: url("img/section_bg02.jpg");
    padding: 70px 0;
}

.leftMsg { 
    color: #EC5B53;
}

.contactInnerDiv .rightDiv {
    display: block;
}

.sliderControl {
    width: 40%;
    text-align: right;
    color: #EC5B53; 
    font-size: large;
    display: none;
}

.sliderControl i {
    border: 2px solid rgba(128, 128, 128, 0.080);
    padding: 15px 20px;
    border-radius: 50%;
}

.fa-chevron-left:hover  {
    border: 2px solid #E44239;
}

.fa-chevron-right:hover  {
    border: 2px solid #E44239;
}

.personCard {
    text-align: left;
    padding: 0 30px;
}
.cardheader {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
 }

.personCard .cardTitle {
    color: #E44239 !important;
    font-size: 18px;
}

.cardSubTitle {
    font-size: 14px;
    color: rgba(128, 128, 128, 0.765);
    font-family: "Rubik", sans-serif;
}

.personCard .cardBody {
    color: #000A2D;
    line-height: 2;
}

.brandsDiv {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
}

.brandsInnerDiv {
    display: flex;
    gap: 50px;
    width: 70%;
    margin: auto;
}

.brandsDiv img {
    width: 40%; 
}

.contactFormDiv {
    margin-top: 100px; 
    background-color: #FFFAFC;
    padding: 100px 0 60px 0 ;
}

.leftMsgDiv .allH {
    font-size: 28px;
}

.leftMsgDiv .cardBody {
    color: #000A2D;
}
  
.rightFormDiv {
    margin-top: 70px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.rightFormDiv input, .rightFormDiv textarea {
    padding: 20px;
    border: none;
    font-size: 16px; 
    outline: none;
}

.rightFormDiv input::placeholder, 
.rightFormDiv textarea::placeholder {
    color: rgba(128, 128, 128, 0.445);
} 

.sendBtn {
    background-color: #ec5b53;
    color: white;
    border: none;
    font-weight: 600;
    padding: 20px;
    cursor: pointer;
    font-size: 16px;
}

footer{ 
    background-color: #080827;
    padding: 35px 0;
}

.footerDiv {
    color: white;
    text-align: center;
    padding: 50px 0;
    font-family: "Rubik", sans-serif !important;
}

.footerDiv h1 { 
    font-weight: 400;
    font-size: 25px;  
    margin-top: 25px;
    margin-bottom: 25px;
}

.footerDiv p {
    line-height: 2;
    color: #dad8d8;
}


.copyrightDiv { 
    font-weight: 100;
    line-height: 2;
    font-family: "Rubik", sans-serif !important;
    color: rgba(153, 153, 153, 0.329);
}

.fa-copyright {
    font-size: 12px;
}

.copyrightDiv span {
    color: #E44239;
    cursor: pointer;
}

.stayConnectedDiv {
    font-size: 14px;
    margin: 30px 0 10px 0;
    color: rgba(197, 197, 197, 0.733);
    font-family: "Rubik", sans-serif !important;
}

.stayConnectedDiv {
    display: flex;
    gap: 20px;
}

.stayConnectedDiv i:hover {
    color: white;
    cursor: pointer;
}

body {
    position: relative;
}

.topIcon i {
    position: fixed;
    color: white; 
    padding: 15px 20px;
    border-radius: 50%;
    background-color: #ec5b53;
    bottom: 15px;
    right: 15px;
    transition: 0.5s;
}

.topIcon:hover i {
    transform: rotate(360deg);
}